@font-face {
    font-family: title-font;
    src: url(./Norse-Bold.otf);
}
@font-face {
    font-family: marvel-font;
    src: url(./MarvelRegular-Dj83.ttf);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(225, 66, 66);
    display: flex;
    color: white;
}
.title img{
    width: 50px;
    height: 80px;
    /* background-color: maroon; */
    /* border-radius: 8px; */
    /* border: 5px solid black; */
    opacity: 1;
    
}
.title{
    font-family: marvel-font;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: maroon;
    padding: 8px;
    /* margin: 160px; */
    /* border-radius: 16px; */
    background-image: url(../images/main-logo-img.jpg);
    background-size: cover;
    height:100vh;
    width:30%;
    position: relative;
    overflow: hidden;

}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 66, 66);
    color: white;
    padding:16px;
    border-radius: 16px;
    position: absolute;
    top:50px;
    gap:1rem;
    flex-shrink: 1;
    flex-wrap: wrap;
    overflow: hidden;
}
.title-text{
    letter-spacing: 0.10em;
    font-weight: 900;
    font-size: 2rem;
}
.wrapper:hover{
    background-color: skyblue;
    color: #ED1C24;
    cursor: pointer;
}
.form-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 70%;
    gap: 1rem;
}
.quote{
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    border-radius: 8px;
    color: #ED1C24;
    flex-wrap: wrap;
    flex-shrink: 1;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 2rem;
}
.quote::before{
    content:"'";
}
.author{
    font-family: title-font;
    font-size: 2rem;
}
.input-field{
    height:60vh;
    color:skyblue;
    /* border:1px solid black; */
}
form{
    display: flex;
    /* justify-content: space-between; */
    /* gap:1rem; */
    padding: 2rem;
    flex-wrap: wrap;
}

.first-half{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}
.second-half{
    align-self: flex-end;
}
.input{
    margin: 10px 0;
    padding: 8px;
    border-radius: 8px;
    border: none;
    background-color: skyblue;
    color: #ED1C24;
    font-weight: bold;
}
label::after{
    content: "";
    display: block;
}
.form-title{
    display: inline-block;
    padding: 15px;
    /* width:50%; */
    margin-left:25% ;
    font-size: 2rem;
    /* font-family: marvel-font; */
    font-weight: bold;
    /* margin-right: 30%; */
}
.hi{
    background-color: rgb(224, 172, 52);
    color: black;
}
option{
    font-weight: bold;
    color: darkred;
}
.hi+option{
    background-color: white;
    color: gold;
}
.hi+option+option{
    background-color: black;
    color: orange;
}
.bye{
    background-color: red;
    color: lightblue;
}

    @media (max-width: 999px) {
        form {
            gap: 10px; 
            height: 70vh;
            /* flex-direction: column; */
            /* border: 1px solid black; */
        }
        .title{
            height:100vh;
            background: ;
        }
        .submit button{
            margin-top:20px;
            /* position: absolute;
            bottom: 0px; */
            margin-right: 30px;
            /* top:100px */
            /* left: 80px; */
        }
    }
.submit button{
    padding: 20px;
    background-color: skyblue;
    border-radius: 8px;
    border: none;
    /* border-color: coral; */
    color: #ED1C24;
    font-size: 1.25rem;
    font-weight: bold;
    margin-left: 40%;
    margin-bottom: 10px;
    /* margin-top: 90%; */
    /* justify-self: center; */
    /* align-self: center; */
}
.submit button:hover{
    cursor: pointer;
    background-color: yellow;
}
.submit button:active{
    background-color: green;
}
.footer {
    text-align: center;
    margin-bottom: 0;
    padding: 10px 0;
    background-color: skyblue;
    padding: 16px;
    color: #ED1C24;
    /* border-radius: 8px; */
    font-weight: bold;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 30%;
}
.footer a{
    text-decoration: none;
    color: darkcyan;
} 
input.valid{
    border-color: #36cc36;
}
input.invalid{
    border-color: orange;
}
input +p{
    font-family: arial;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    margin: 0 10px;
    color: orange;
    opacity: 0;
    height: 0;
}
input.invalid + p{
    opacity: 1;
    height: auto;
    margin-bottom: 20px;
}
input +pre{
    font-family: arial;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    margin: 0 10px;
    color: orange;
    opacity: 0;
    height: 0;
}
input.invalid + pre{
    opacity: 1;
    height: auto;
    margin-bottom: 20px;
}